body {
    background-color: rgb(32, 32, 32);
    color: rgb(0, 255, 0);
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.2em;
}

a {
    color: rgb(0, 147, 173);
}


.gallery {
    background: rgba(255, 255, 255, 0.2);
    padding: 1em;
}

.rounded {
    border-radius: 10px;
}

.gallery img {
    margin-right: 0.3em;
    width: 170px;
}


th, tr:nth-child(odd) {
    background-color: rgba(68, 68, 68, 0.2);
}

th, tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

td:nth-child(1) {
    text-align: right;
}

td:nth-child(2) {
    text-align: center;
}