body {
    background-color: rgb(32, 32, 32);
    color: rgb(211, 210, 210);
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.2em;
}


.sticky {
    position: sticky;
    top: 8px;
    overflow: hidden;
}

ul {
    top: -8px;
    left: -10px;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center;
    z-index: 1030;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #111111;
}

ul li a.active {
  background-color: #04AA6D;
}

.logo {
    margin-right: 10px;
}


.center {
    text-align: center;
}

.bar {
    background: rgba(171, 203, 252, 0.2);
    padding: 1px;
    margin: 10px;
    position: absolute;
    left: -10px;
    width: 99.9%;
    border-radius: 5px;
}

.header {
    font-family: "Audiowide", sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    font-style: normal;
    text-align: center;
    color: rgb(194, 194, 194);
}

.info {
    background: rgba(171, 203, 252, 0.048);
    position: relative;
    top: 180px;
    padding-bottom: 1px;
}

.info-main {
    padding-left: 0px;
}

.rounded {
    border-radius: 7px;
}


/* Fonts */

.quantico-regular {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quantico-bold {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quantico-regular-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.quantico-bold-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: italic;
}